 /* ====================================
  Hobby
  ==================================== */

 .wrapper_hobby {
  width:100%;
  height: 66%;
  padding-top: 10%;
  overflow: hidden;
    .infinite_move {
      height: 40%;
      width: 100%;
      border: 2px solid lightgray;
      position: relative;
      margin-top: 10%;
      margin-bottom: 10%;
        .wrapper_move {
          display: block;
          width: 200%;
          margin-top: 6%;
          position: absolute;
          animation: infinite-move 20s linear infinite;
          &:hover{
            animation-play-state: paused;
          }
              span {
                float: left;
                width: 50%;
                  .move {
                    width: 110px;
                    height: 110px;
                    background: lightgray;
                    border: 1px solid black; 
                    border-radius: 5px;
                    margin: 0 0.5em;
                    float: left;
                    transition: all .2s ease-out;
                  }
              }           
        }       
    }
    .hobby{
      height: 30vh;
      width: 100%;
        .hobby_description{
          font-size: 1.5em;
        }
    }      
}
.move:hover{
  transform: scale(2.1);
  cursor: pointer;

} 
.hobby_description{

}
  
@keyframes infinite-move {
  0% { left: 0; }
  100% { left: -100%; }
}