body {
    padding: 0;
    margin: 0;
}

.mainBox {
    margin: 10px;
}

.board {
    width: 900px;
    height: 900px;
    margin: 0 400px;
    position: absolute;
    background-color:rgb(228, 214, 214);
    border-radius: 5%;
}
#score {
    position: absolute;
    top: 40%;
}
.images {
    width: 159px;
    height: 159px;
    margin-top: 40px;
    border-radius: 10%;
}
.box {
    border: 1px solid rgb(53, 64, 161);
    border-radius: 10%;
    background-color: rgb(109, 150, 184);
}
.final-score {
    position: absolute;
    width: 400px;
    z-index: 2;
    top: 25%;
    left: 35%;
    text-align: center;
}
.final-score p{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.hide {
    display: none;
}


.btn {
    background-color: rgb(53, 44, 177);
    font-weight: 700;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}